.album {
 display: flex;
 margin-top: 3.125rem;
 flex-wrap: wrap;
 .sideBar {
     text-align: center;
     padding: 1rem;
     max-width: 28.125rem;
     button {
        margin-bottom: 1rem;
     }
  }
  .sideBarHide {
    display: none;
  }
    .users-container {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    
        .card {
          min-width: 18.75rem;
          margin-bottom: 1.875rem;
    
          &:hover {
            transform: scale(1.05);
          }
        }
      }
}